/* ## GENERAL ##*/
html, body, * {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

body {
    background: #CCCC99;
}

a:link {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

/* ## OBJECT ## */

.pill {
    display: inline-block;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    letter-spacing: .08rem;
    color: #fff;
    background: #000;
    padding: .3rem .8rem;
    border-radius: 3rem;
}

.pill-info {
    background: #003366;
    color: #ffffff;
    overflow: hidden;
    border-radius: 3rem;
    padding: .08rem .5rem;
}

.pill-count {
    background: #CCCC99;
}

.pill-count-number {
    background: #003366;
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    overflow: hidden;
    border-radius: 3rem;
    padding: .08rem .4rem;
}

.pill-form {
    display: inline-block;
    margin: 0 .2rem;
    cursor: pointer;
    border: 2px solid #ffffff;
}

.pill-form:hover, .pill-deconnexion:hover, .game-form-submit:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

}

.pill-form:active, .game-form-submit:active {
    transform: translateY(.2rem);
}

.pill-deconnexion {
    background: #003366;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    float: right;
}

/* ## HEADER ## */

.navbar {
    background: #FFFFFF;
    border-bottom: 2px solid #cccccc;
}

.brand-name {
    font-family: "Raleway", sans-serif;
    color: #003366;
    font-size: 1.125rem;
    font-weight: 900;
}

.title-main {
    font-family: 'Londrina Solid', cursive;
    font-size: 6rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0rem;

}

/* ## BOX GAME ## */

/* layout */

.box-game {
    background: #ffffff;
    border-radius: .3125rem;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
    margin-top: 6.25rem;
}

.notifications-line {
    border-bottom: 2px dashed #cccccc;
}

.notifications-msg {
    display: inline-block;

    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: #003366;

    margin: .7rem 0 .7rem 0;
}

.notifications-img {
    margin: .7rem 0 .9rem 0;
}

.notifications-name {
    color: #EFBB6A;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
}

/* game */

.game-info {
    color: #cccccc;
    font-size: 1rem;
}

.game-form-field {
    border-radius: 3rem;
    border: 1px solid #cacaca;
    padding: .3rem .8rem;
    margin: 1rem 0 0 0;
}

.game-form-submit {
    border-radius: 3rem;
    border: none;
    padding: .3rem .8rem;
    margin: .5rem 0;
    cursor: pointer;

    background: #003366;
    color: #fff;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
}

.game-text {
    color: #003366;
}

.form-pers {
    display: inline-block
}

.btn-pers {
    background: #EFBB6A;
    border: 2px solid #003366;
    color: #003366;

    border-radius: .3125rem;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
}

.btn-pers:hover {
    background: #003366;
    color: #fff;
    border: 2px solid #003366;

}

.btn-pers::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f556 ";
    font-size: 1.2rem;
}

.pers-line {

    padding-bottom: 1rem;
    border-bottom: 2px dashed #cccccc;
}

.pers-name {
    font-size: 1.2rem;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    color: #003366;
    text-transform: uppercase;

}

.pers-life {
    font-size: 1.2rem;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #003366;

}

.clignote {
    color: red;

}

.icn-life:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f004";
    color: red;
}